project:
  type: website
  output-dir: docs

  preview:
    port: 88
    browser: true
    watch-inputs: true
    navigate: true

  render:
   - "*.qmd"

  resources:
   - "./files/**"
   - "./files/images/**"
   - "./data/**"

freeze: true

pagetitle: "{{< meta title >}} | Cormac Monaghan"
author-meta: "Cormac Monaghan"

website:
  title: "Cormac Monaghan"
  favicon: ./files/images/favicon.png
  site-url: "https://c-monaghan.github.io/"
  repo-url: "https://github.com/C-Monaghan/C-Monaghan.github.io"

  navbar:
    pinned: true

    title: false
    logo: ./files/images/favicon.png
    left:
    # Home Page
      - text: About
        icon: person-circle
        href: index.qmd

    # CV
      - text: CV
        icon: file-earmark-text-fill
        target: _blank
        href: ./files/CV.pdf

      # Research
      - text: Research
        icon: book-half
        href: research/index.qmd

      # Talks
      - text: Talks
        icon: mic-fill
        href: talks/index.qmd

      # Software
      - text: Software
        icon: laptop-fill
        href: software/index.qmd

      # Blog
      - text: Blog
        icon: pen-fill
        href: posts/index.qmd

      # PhD Resources
      # - href: resources/index.qmd
      # text: PhD Resources

    right:
    # RSS Reader
      - text: "{{< iconify bi rss size=1.1em title='RSS' >}}"
        href: atom.xml
    # Email
      - text: "{{< iconify bi envelope size=1.1em title='E-mail' >}}"
        href: mailto:cormacmonaghan@protonmail.com
    # Linkedin
      - text: "{{< iconify bi linkedin size=1.1em title='LinkedIn' >}}"
        href: https://www.linkedin.com/in/cormac-monaghan/
        rel: me
        target: _blank
    # Orcid
      - text: "{{< iconify fa6-brands orcid size=1.1em title='Orcid' >}}"
        href: https://orcid.org/0000-0001-9012-3060
        rel: me
        target: _blank
    # Github
      - text: "{{< iconify bi github size=1.1em title='GitHub' >}}"
        href: https://github.com/C-Monaghan
        rel: me
        target: _blank
    # Bluesky
      - text: "{{< iconify fa6-brands bluesky size=1.1em title='Bluesky' >}}"
        href: https://bsky.app/profile/c-monaghan.bsky.social
        rel: me
        target: _blank
    # Twitter (I'm not calling it X)
      # - icon: twitter-x
      #   href: https://twitter.com/CormacMonaghan1
      #   target: _blank
  page-footer:
    background: light
    left: |
      <span class="faux-block">All content licensed under<br>[{{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}} Creative Commons CC BY 4.0](https://creativecommons.org/licenses/by/4.0/)</span>
    center: |
      <span class="faux-block">{{< fa brands orcid >}} <strong>ORCID</strong> [{{< var orcid >}}](https://orcid.org/{{< var orcid >}})</span>
    right: |
      <span class="faux-block">This website was built with [{{< fa brands github title="GitHub octocat logo" >}}]({{< var github-url >}}){target=_blank}, [{{< fa brands r-project title="R Project" >}}](https://www.r-project.org/about.html){target=_blank} and [Quarto](https://quarto.org/){target=_blank}</span>

format:
  html:
    theme:
      - cosmo
      - html/styles.scss
    toc: true
    page-layout: full
    anchor-sections: true
    highlight-style: monokai
